.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status h2 {
    margin: 0;
}

.status .active {
    width: 17px;
    height: 17px;
    margin: 15px 7px 15px 15px;
    border-radius: 50%;
    background: rgb(1, 189, 1);
    transition: 200ms;
}
