.chess {
    /* position: relative; */
    border-radius: 10px;
    overflow: hidden;
    width: 640px;
    height: 640px;
    user-select: none;
}

.cell {
    float: left;
    width: 80px;
    height: 80px;
    user-select: none;
}

.piece {
    position: absolute;
    cursor: pointer;
    width: 80px;
    z-index: 2;
    transition: 200ms;
    user-select: none;
    -webkit-user-drag: none;
}
