.registration-form {
    width: 500px;
}

.registration-btn {
    background: var(--greenBtn);
    color: white;
    border: none;
    height: 40px;
    width: 160px;
    font-family: var(--font);
    font-size: 22px;
    font-weight: 600;
    margin: 2px;
}

.registration-btn:disabled {
    background-color: rgb(34, 255, 0, 0.55);
    pointer-events: none;
}
