.messages {
    display: flex;
    height: 94%;
    width: 100%;
    position: absolute;
    bottom: 0;
    flex-direction: column-reverse;
}

.messages input {
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 0 15px;
    border: none;
    background: rgba(0, 0, 150, 0.333);
    color: white;
    font-size: 20px;
    height: 30px;
}