.dot,
.rectangle,
.circle,
.check {
    background: rgba(48, 128, 255, 0.7);
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.dot {
    border-radius: 50%;
    scale: 0.25;
}

.circle {
    border-radius: 33px;
}

.check {
    background: red;
    border-radius: 20px;
    scale: 0.45;
    box-shadow: 0 0 40px 40px red;
}

.highlighted {
    width: 80px;
    height: 80px;
    background: gold;
    opacity: 0.4;
    position: absolute;
    pointer-events: none;
}
