@import "./styles/chat.css";
@import "./styles/navbar.css";
@import "./styles/footer.css";
@import "./styles/join.css";
@import "./styles/alert.css";

body {
    --bodyColor: rgb(1, 10, 74);
    --elementColor: rgb(28, 66, 189);
    --greenBtnColor: rgb(0, 189, 25);
    background: var(--bodyColor);
    color: white;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 350px;
    line-height: 20px;
    padding: 0 30px;
    font-size: 40px;
    background: rgb(255, 255, 255);
}

input:focus {
    outline: none;
}
