.room,
.room-info {
    display: flex;
    align-items: center;
    background: var(--navbg);
    font-family: var(--font);
    height: 60px;
}

.room {
    width: 700px;
    margin: 20px auto;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 15px;
}

.room-info {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 270px;
    justify-content: space-between;
}

.room-name {
    font-size: 20px;
}

.room-author {
    display: flex;
    font-size: 15px;
    align-items: center;
}

.room-author > img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.join-btn,
.remove-btn {
    color: white;
    border: none;
    margin-left: 0;
    height: 35px;
    width: 100px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 700;
}

.join-btn {
    background: var(--greenBtn);
}

.remove-btn {
    background: rgb(255, 0, 0);
}
